body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

div {
    margin-bottom: 20px;
}

input[type=radio], input[type=checkbox] {
    margin-right: 10px;
}


#playButton {
    display: flex;
    justify-content: center;
}

#gameSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#opponent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultDiv {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.choices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
