@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    margin: 10px;
  }

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
  }
  
button:hover {
    background-color: white; 
    color: #007BFF;
  }

@media only screen and (max-width: 600px) {
    body {
      font-size: 18px;
    }
  }
  


h1 {
    text-align: center;
    color: #333;
}


#selections {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  

#playButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
#opponent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

#resultText {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
  }
  